.section {
  align-items: center;
  margin: 80px 200px;
}

.section * {
  transition: all 0.2s;
}

.title {
  color: var(--ifm-color-emphasis-900);
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 46px;
  margin: 100px 0 80px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card + .card {
  margin-top: 120px;
}

/* card Container */
.text_container {
  padding: 0;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card .card_title {
  color: var(--ifm-color-emphasis-900);
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 46px;
}

/* card Description */
.card .card_description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--ifm-color-emphasis-600);
  margin: 24px 0;
}

.card .highlight {
  color: var(--ifm-color-primary);
}

.card .bold {
  font-weight: 800;
}

.card .image_container img {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

img.radius {
  border-radius: 4px;
}

.card .links a {
  margin-right: 22px;
}

/* radio_tabs */
.radio_tabs > div {
  border: 1px solid var(--ifm-color-emphasis-400);
  border-radius: 10px;
  padding: 0;
  margin: 24px 0;
  height: auto;
}

.radio_tabs input[type='radio'] {
  display: none;
}

.radio_tabs input[type='radio'] + label {
  padding: 24px 16px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--ifm-color-emphasis-700);

  display: inline-block;
  cursor: pointer;
}

.radio_tabs input[type='radio'] + label + p {
  margin: 0 16px 24px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--ifm-color-emphasis-600);
  display: none;
  opacity: 0;
}

/* radio_tabs hover */
.radio_tabs > div[data-is-active='true'],
.radio_tabs > div:hover {
  border: 1px solid var(--ifm-color-primary);
}

.radio_tabs > div:focus {
  border: 1px solid var(--ifm-color-emphasis-400);
}

/* radio_tabs checked */
.radio_tabs input[type='radio']:checked + label {
  padding-bottom: 16px;
  color: var(--ifm-color-primary);
}

.radio_tabs input[type='radio']:checked + label .inline_logo path {
  fill: var(--ifm-color-primary);
}

.radio_tabs input[type='radio']:checked + label + p {
  opacity: 1;
  display: block;
}

/* components */
/*link*/
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

/* inline_logo */
.inline_logo {
  margin-right: 5px;
  height: 1.1em;
  vertical-align: text-top;
}

/* gallery */
.gallery {
  margin-top: 40px;
  padding: 0;
}

.gallery_title_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.gallery_title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: var(--ifm-color-emphasis-900);
  margin: 0;
}

/* RWD */
/* 1440p */
@media screen and (max-width: 1440px) {
}
/* 1024p */
@media screen and (max-width: 1024px) {
  .section {
    margin: 80px 120px;
  }
}

/* table */
@media screen and (min-width: 997px) {
  /* card Container */
  .card .text_container {
    padding-right: 30px;
  }

  .card .image_container {
    padding-left: 30px;
  }
}

/* pad */
@media screen and (max-width: 996px) {
  .section {
    margin: 80px 24px;
  }

  .card + .card {
    margin-top: 80px;
  }

  .title {
    margin-bottom: 40px;
  }

  .card_title {
    margin-bottom: 24px;
  }

  .gallery_title_content {
    margin-bottom: 24px;
  }
}

/* phone */
@media screen and (max-width: 414px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }

  .card .card_title {
    font-size: 24px;
    line-height: 24px;
  }

  .card .card_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .gallery_title {
    font-size: 24px;
  }

  .radio_tabs input[type='radio'] + label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .radio_tabs input[type='radio'] + label + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
