.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 200px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  margin-top: 16px;
  font-size: 64px;
  line-height: 64px;
  color: var(--ifm-color-emphasis-900);
}

.title strong {
  background: linear-gradient(
    120deg,
    #3578e5 42.68%,
    rgba(107, 18, 204, 0.6) 86.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin: 48px auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--ifm-color-emphasis-600);
}

.banner_button {
  display: flex;
}

.banner_button > * {
  height: 50px;

  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;

  font-family: Roboto;
  padding: 8px 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.banner_button > .getStartButton {
  background-color: var(--ifm-color-primary);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
  color: var(--ifm-color-gray-100);
}

.banner_button > .view_demo_button {
  color: var(--ifm-link-button-color);
  border: 1px solid var(--ifm-link-button-border-color);
}

.banner_button > .view_demo_button:hover {
  color: var(--ifm-link-button-color);
  background-color: var(--ifm-link-button-hover-background-color);
}

.banner_button > .view_demo_button:active {
  color: var(--ifm-link-button-color);
  background-color: var(--ifm-link-button-active-background-color);
}

.getStartButton:hover {
  background-color: var(--ifm-color-primary-light);
  color: var(--ifm-color-gray-100);
}

.getStartButton:active {
  background-color: var(--ifm-color-primary-dark);
  color: var(--ifm-color-gray-100);
}

.banner_image {
  margin-top: 80px;
}

/* RWD */
/* 1440p */
@media screen and (max-width: 1440px) {
}
/* 1024p */
@media screen and (max-width: 1024px) {
  .overview {
    margin: 80px 120px;
  }
}

/* pad */
@media screen and (max-width: 996px) {
  .overview {
    margin: 80px 24px;
  }
}

/* phone */
@media screen and (max-width: 414px) {
  .banner_button {
    width: 100%;
    flex-wrap: wrap;
  }
  .banner_button > * {
    width: 100%;
    margin: 8px 0;
  }
}
